<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--下拉框-->
    <link href="_css_/plugins/chosen/chosen.css" rel="stylesheet">
    <!--单选框-->
    <link href="_css_/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">

     <include file="Public:head" />
    <script type="text/javascript">
        $(document).ready(function(){
            $("#szmm").show();
//            $(".ljsz").click(function(){
//                $("#szmm").show();
//            });
//            $(".zxsz").click(function(){
//                $("#szmm").hide();
//            });
        });
    </script>
    <style type="text/css">
        .auto_hidden {
            width:204px;border-top: 1px solid #333;
            border-bottom: 1px solid #333;
            border-left: 1px solid #333;
            border-right: 1px solid #333;
            position:absolute;
            display:none;
        }
        .auto_show {
            width:204px;
            border-top: 1px solid #333;
            border-bottom: 1px solid #333;
            border-left: 1px solid #333;
            border-right: 1px solid #333;
            position:absolute;
            z-index:9999; /* 设置对象的层叠顺序 */
            display:block;
        }
        .auto_onmouseover{
            color:#ffffff;
            background-color:highlight;
            width:100%;
        }
        .auto_onmouseout{
            color:#000000;
            width:100%;
            background-color:#ffffff;
        }
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 class="location">新增/编辑-评价指标</h5>
                        <div class="ibox-tools">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="table_data_tables.html#">
                                <i class="glyphicon glyphicon-list"></i>
                            </a>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>


                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" enctype="multipart/form-data" class="form-horizontal" onSubmit="return beforeSubmit(this);">
                            <input id="id" name="id"  type="hidden" class="form-control" value="{$info.id}">
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">名称</label>
                                <div class="col-md-4">
                                    <input id="name" name="name"  type="text" class="form-control" value="{$info.name}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">指标分类</label>
                                <div class="col-md-4">
                                    <select type="credit_id" name="credit_id" class="form-control" style="width: 160px;float: left;margin: 5px;">

                                        <volist name="credit_classify" id="vo">
                                            <option value="{$vo.credit_id}" <if condition="$info[id] eq $vo[credit_id]">selected</if>>{$vo.classify_name}</option>
                                        </volist>

                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">描述</label>
                                <div class="col-md-4">
                                    <textarea id="dec" name="dec" class="form-control">{$info.dec}</textarea>
                                  <!--  <input id="dec" name="dec"  type="text" class="form-control" value="{$info.dec}">-->
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button type="submit" class="btn btn-primary" onclick="T_submit();">提交</button>
                                    <a class="back btn btn-white" type="submit">取消</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">


     function beforeSubmit(form){
        if(form.classify_name.value==''){
            toastr.error("请填写指标分类名称 ！");
            form.number.focus();
            return false;
        }
        return true;
    }


</script>;
<!--下拉框-->
<script src="_js_/plugins/chosen/chosen.jquery.js"></script>
<script src="_js_/demo/form-advanced-demo.min.js"></script>
<!--内页收起 隐藏-->
<script src="_js_/content.min.js?v=1.0.0"></script>
<!--前台分页-->
<script src="_js_/plugins/dataTables/jquery.dataTables.js"></script>
<script src="_js_/plugins/dataTables/dataTables.bootstrap.js"></script>

</body>
</html>
