<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--下拉框-->
    <link href="_css_/plugins/chosen/chosen.css" rel="stylesheet">
    <!--单选框-->
    <link href="_css_/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
     <include file="Public:head" />
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 class="location">图片上传</h5>
                        <div class="ibox-tools">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="table_data_tables.html#">
                                <i class="glyphicon glyphicon-list"></i>
                            </a>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="{:U('Admin/User/index')}">用户列表</a></li>
                                <li><a href="{:U('Admin/User/index',array('status'=>4))}">待审核用户列表</a></li>
                                <li><a href="{:U('Admin/User/index',array('status'=>3))}">已删除用户列表</a></li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" enctype="multipart/form-data" class="form-horizontal" onSubmit="return beforeSubmit(this);">
                            <input id="tag_id" name="tag_id"  type="hidden" class="form-control" value="{$tag_list.tag_id}">
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">标签名称</label>
                                <div class="col-sm-10">
                                    <input id="name" name="name"  type="text" class="form-control" value="{$tag_list.name}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">备注/用途</label>
                                <div class="col-sm-10">
                                    <input id="remark" name="remark"  type="text" class="form-control" value="{$tag_list.remark}">
                                </div>
                            </div>
                            <div class="form-group">
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                     <button type="submit" class="btn btn-primary" onclick="T_submit();">提交</button>
                                    <a class="back btn btn-white" type="submit">取消</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function beforeSubmit(form){
        if(form.name.value==''){
            toastr.error("请填写标签名称！");
            form.name.focus();
            return false;
        }
        return true;
    }
</script>;
<!--下拉框-->
<script src="_js_/plugins/chosen/chosen.jquery.js"></script>
<script src="_js_/demo/form-advanced-demo.min.js"></script>
<!--内页收起 隐藏-->
<script src="_js_/content.min.js?v=1.0.0"></script>
<!--前台分页-->
<script src="_js_/plugins/dataTables/jquery.dataTables.js"></script>
<script src="_js_/plugins/dataTables/dataTables.bootstrap.js"></script>

</body>
</html>
