<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <include file="Public:head" />
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 class="location">图片上传</h5>
                    <div class="ibox-tools">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="table_data_tables.html#">
                            <i class="glyphicon glyphicon-list"></i>
                        </a>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                        <!--<ul class="dropdown-menu dropdown-user">-->
                            <!--<li><a href="{:U('Admin/User/index')}">用户列表</a></li>-->
                            <!--<li><a href="{:U('Admin/User/index',array('status'=>4))}">待审核用户列表</a></li>-->
                            <!--<li><a href="{:U('Admin/User/index',array('status'=>3))}">已删除用户列表</a></li>-->
                        <!--</ul>-->
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <if condition="$user_find.user_id ELT 2">
                    <div style="margin-bottom: 10px;">
                        <a href="{:u('Admin/Tag/upload_add')}"><button type="button" class="btn btn-w-m btn-info">上传图片</button></a>
                    </div>
                    </if>
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>标签名称</th>
                            <th>备注</th>
                            <th>增加时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="tag_list" id="vo">
                        <tr class="gradeX">
                            <td>{$vo.tag_id}</td>
                            <td><a style="color:#009999;font-weight: bold;" href="{:u('Admin/Tag/tags_list',array('p_id'=>$vo['tag_id']))}">{$vo.name}</a></td>
                            <td>{$vo.remark}</td>
                            <td>{$vo.addtime}</td>
                            <td class="center">
                            <a class="btn btn-primary" href="{:u('Admin/Tag/edit_tag',array('tag_id'=>$vo['tag_id'],'p_id'=>$vo['p_id']))}">编辑</a>&nbsp;&nbsp;
                            <!--<a onclick="javascript:switchs('tag_del','{$vo.tag_id}');">删除</a>&nbsp;&nbsp;-->
                            </td>
                        </tr>
                        </volist>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function switchs(tag,tag_id){
        if(tag == "tag_del"){
            if (confirm("确定要删除吗？")){
            }else{
                return false;
            }
        }
//            var status = document.getElementById("switch_"+id).checked == true ? '1':'2';
            $.ajax({
            url:"{:U('Tag/switchs')}",
            type:"POST",
            dataType:"json",
            data:"tag="+tag+"&tag_id="+tag_id,
            success:function(res){
                if(res.res == 'success'){
                    toastr.success("删除成功！");
                    setTimeout("location.reload()","2100");
                }else{
                    toastr.error("删除失败,该标签还有二级标签！");
                }
            }
        });
    }
</script>
<script>
    $(document).ready(function(){$(".dataTables-example").dataTable();var oTable=$("#editable").dataTable();oTable.$("td").editable("http://www.zi-han.net/theme/example_ajax.php",{"callback":function(sValue,y){var aPos=oTable.fnGetPosition(this);oTable.fnUpdate(sValue,aPos[0],aPos[1])},"submitdata":function(value,settings){return{"row_id":this.parentNode.getAttribute("id"),"column":oTable.fnGetPosition(this)[2]}},"width":"90%","height":"100%"})});function fnClickAddRow(){$("#editable").dataTable().fnAddData(["Custom row","New row","New row","New row","New row"])};
</script>
</body>
</html>
