<div class="form-group">
    <label class="col-sm-2 control-label">产地名称</label>
    <div class="col-md-4">
        <select id="place"   name="place_info" data-placeholder="请选择企业..." class="chosen-select"  style="width:340px" tabindex="2">
            <option value="">请填写产地名称:如三村镇二村</option>
            <volist name="place_info" id="vo">
                <option   value="{$vo.place_id}">{$vo.place_name}</option>
            </volist>
        </select>
    </div>
    <input type="hidden"  name="place_name"  id="place_name" value=""  />
</div>
<div class="hr-line-dashed"></div>
<div class="form-group">
    <label class="col-sm-2 control-label">产地编号</label>
    <div class="col-md-4">
        <input id="number" name="place_id"  type="text" class="form-control" value="{$info2.place_id}">
    </div>
</div>
<div class="hr-line-dashed"></div>
<script type="text/javascript">
    $('#place').change(function(){
        var plant_area= $("#place").find("option:selected").val();
        $abc =  $("#place  option:selected").text();
        $("#place_name").val($abc);
        areaChange(plant_area);
    });
    function areaChange(plant_area){
        if(plant_area){
            $.post("{:u('Admin/Jdenvironment/place_info',array('m'=>place_info))}",
                    {plant_area:plant_area},
                    function(data) {
                        $("#site_name option").remove();
                        var obj = jQuery.parseJSON(data);
                        var t = obj.result.length;
                        for (var o = 0;o<t;o++){
                            var p =obj.result[o].place_id;
                            $("#number").val(p);
                        }
                    }
            );
        }
    }
</script>
