<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--下拉框-->
    <link href="_css_/plugins/chosen/chosen.css" rel="stylesheet">
    <!--单选框-->
    <link href="_css_/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
     <include file="Public:head" />
    <script type="text/javascript">
        $(document).ready(function(){
            $("#szmm").show();
//            $(".ljsz").click(function(){
//                $("#szmm").show();
//            });
//            $(".zxsz").click(function(){
//                $("#szmm").hide();
//            });
        });
    </script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 class="location">详细-产品认证</h5>
                        <div class="ibox-tools">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="table_data_tables.html#">
                                <i class="glyphicon glyphicon-list"></i>
                            </a>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="{:U('Admin/Prove/product')}">产品认证列表</a></li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal">
                            <input id="id" name="id"  type="hidden" class="form-control" value="{$product.id}">
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">认证类型</label>
                                <div class="col-md-4">
                                    <select type="search" name="prove_type" class="form-control" style="width: 160px;float: left;margin: 5px;" readonly>
                                        <option value="有机" <if condition="$product['prove_type']=='有机' ">selected</if> >===有机===</option>
                                        <option value="绿色" <if condition="$product['prove_type']=='绿色' ">selected</if> >===绿色===</option>
                                        <option value="无公害" <if condition="$product['prove_type']=='无公害' ">selected</if> >==无公害==</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">认证类别</label>
                                <div class="col-md-4">
                                    <input id="prove_category" name="prove_category"  type="text" class="form-control" value="{$product.prove_category}" readonly>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">企业编号</label>
                                <div class="col-md-4">
                                    <input id="company_num" name="company_num"  type="text" class="form-control" value="{$product.company_num}" readonly>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">企业名称</label>
                                <div class="col-md-4">
                                    <input id="company_name" name="company_name"  type="text" class="form-control" value="{$product.company_name}" readonly>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">企业信息码</label>
                                <div class="col-md-4">
                                    <input id="company_code" name="company_code"  type="text" class="form-control" value="{$product.company_code}" readonly>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">企业地址</label>
                                <div class="col-md-4">
                                    <input id="company_address" name="company_address"  type="text" class="form-control" value="{$product.company_address}" readonly>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">生产基地</label>
                                <div class="col-md-4">
                                    <input id="producers" name="producers"  type="text" class="form-control" value="{$product.producers}" readonly>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">产品编号</label>
                                <div class="col-md-4">
                                    <input id="product_num" name="product_num"  type="text" class="form-control" value="{$product.product_num}" readonly>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">产品种类</label>
                                <div class="col-md-4">
                                    <input id="product_type" name="product_type"  type="text" class="form-control" value="{$product.product_type}" readonly>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">产品名称</label>
                                <div class="col-md-4">
                                    <input id="product_name" name="product_name"  type="text" class="form-control" value="{$product.product_name}" readonly>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">证书编号</label>
                                <div class="col-md-4">
                                    <input id="certificate_num" name="certificate_num"  type="text" class="form-control" value="{$product.certificate_num}" readonly>
                                </div>
                            </div>      <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">注册商标</label>
                                <div class="col-md-4">
                                    <input id="brand" name="brand"  type="text" class="form-control" value="{$product.brand}" readonly>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">产量（吨）</label>
                                <div class="col-md-4">
                                    <input id="yield" name="yield"  type="number" class="form-control" value="{$product.yield}" readonly>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">上传图片</label>
                                <div class="col-md-4">
                                    <if condition="$product.picture neq ''">
                                        <img src="{$product.picture}" width="200px;">
                                        <else/>
                                        <img src="_images_/none.jpg" width="200px;">
                                    </if>

                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <script src="_js_/plugins/layer/laydate/laydate.js"></script>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">有效日期</label>
                                <div class="col-md-4">
                                    <input name="validity_time" value="{$product.validity_time}" readonly id="validity_time" class="form-control layer-date" placeholder="YYYY-MM-DD" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})">
                                    <!--<input name="start_time" value="{$product.start_time}" id="start_time" class="form-control layer-date" placeholder="YYYY-MM-DD hh:mm:ss" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">-->
                                    <label class="laydate-icon"></label>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <script src="_js_/plugins/layer/laydate/laydate.js"></script>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">发证日期</label>
                                <div class="col-md-4">
                                    <input name="certificate_time" value="{$product.certificate_time}"  readonly id="certificate_time" class="form-control layer-date" placeholder="YYYY-MM-DD" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})">
                                    <!--<input name="start_time" value="{$product.start_time}" id="start_time" class="form-control layer-date" placeholder="YYYY-MM-DD hh:mm:ss" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">-->
                                    <label class="laydate-icon"></label>
                                </div>
                            </div>


                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <a class="back btn btn-white" type="submit">返回</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--下拉框-->
<script src="_js_/plugins/chosen/chosen.jquery.js"></script>
<script src="_js_/demo/form-advanced-demo.min.js"></script>
<!--内页收起 隐藏-->
<script src="_js_/content.min.js?v=1.0.0"></script>
<!--前台分页-->
<script src="_js_/plugins/dataTables/jquery.dataTables.js"></script>
<script src="_js_/plugins/dataTables/dataTables.bootstrap.js"></script>

</body>
</html>
